extends layout 

block content 

    h1 new message

    form(method="POST" action="/") 
        p Name: 
        input(type='text', name='username')
        p Message: 
        input(type='text', name='usermessage')

        input(type='submit')